body {
   text-align: center;
   color: #FFFFFF;
   font-family: Helvetica;
   border: 4px dashed #FFFFFF;
   padding: 40px;
}

p {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}